# Ignore node_modules
node_modules/

# Ignore les fichiers de build de l'IDE
.idea/
.vscode/

# Ignore les fichiers de log
*.log

# Ignore les fichiers temporaires et de cache
npm-debug.log
yarn-error.log
*.tgz
dist/
tmp/

# Ignore les fichiers spécifiques à l'environnement local
*.env

# Ignore les fichiers de configuration de Docker
Dockerfile
.dockerignore

# Ignore les fichiers de tests
coverage/
