<div class="mat-elevation-z4" style="display: flex; justify-content: space-between; padding: 20px;">
  <mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title>Nombre Total de simulation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2 class="card-value">{{num_simulations}}</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title>Nombre de subscriptions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2 class="card-value">{{num_subscriptions}}</h2>
    </mat-card-content>
  </mat-card>

</div>
