<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Connexion</p>

                <!-- Lien vers l'inscription -->
                <p class="text-center text-muted">
                  Vous n'êtes pas encore inscrit ?
                  <a routerLink="/sign-up" routerLinkActive="router-link-active" class="text-primary">
                    Inscrivez-vous ici !
                  </a>
                </p>

                <!-- Formulaire de connexion -->
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="mx-1 mx-md-4">

                  <!-- Champ Username -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fa-user"></i> -->
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username" />
                      <small *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
                        Le nom d'utilisateur est requis.
                      </small>
                    </div>
                  </div>

                  <!-- Champ Mot de passe -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fa-user"></i> -->
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Mot de passe" />
                      <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                        Le mot de passe est requis.
                      </small>
                    </div>
                  </div>

                  <!-- Bouton de Connexion -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg"  [disabled]="loginForm.invalid || isLoading">
                      <i *ngIf="isLoading" class="fa fa-refresh fa-spin"></i>
                      Connexion
                    </button>
                  </div>

                </form>

              </div>

              <!-- Image de droite -->
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                     class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
